.add-form {
  background: #71ccca;
  box-shadow: 27px 27px 54px #437877, -27px -27px 54px #9fffff;
  min-height: 60vh;
  margin: 6px 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.form-item {
  margin: 12px 0px;
  width: 70%;
  padding: 4px;
  border-radius: 6px;
  background-color: #fff;
}

.form-item label {
  background-color: lightgray;
  padding: 2px 12px;
  border-radius: 0px 4px 4px 0px;
}

.form-item input {
  font-size: 16px;
  outline: none;
  width: 70%;
  border: none;
}

.category-container-parent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.category {
  position: relative;
  width: 40%;
}

.category-dropdown {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  margin: 12px 0px;
  border-radius: 6px;

  padding: 4px;
}

.category-dropdown i {
  display: flex;
  align-items: center;
}

.category-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background-color: #fff;
}

.category-item {
  width: 98%;
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;
  cursor: pointer;
}

.category-item img {
  height: 32px;
  margin-right: 20px;
}

.form-add-button {
  display: flex;
  justify-content: flex-end;
}

.form-add-button div {
  display: flex;
  border: 1px solid black;
  border-radius: 6px;
  padding: 2px 8px;
}

.form-add-button div i {
  display: flex;
  align-items: center;
  margin-left: 6px;
}

@media only screen and (max-width: 1024px) {
  .form-item {
    width: 100%;
  }

  .form-item input {
    width: 70%;
  }

  .amount-input {
    width: 50% !important;
  }

  .category {
    width: 80%;
  }
}
